@import '../../../../style/vars';

.commandList {
    display: flex;

    ol{
        width: 100%;
        list-style-type: none;
        padding: 0;
        margin: 0;
        
        .commandItem {
            font-size: $standardFontSize;
        }

        .selectedCommandItem {
            @extend .commandItem;
            background-color: $highlightColor;
        }
    }
}