@import '../../../style/vars';

$outputFont: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

.executionView {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: start;
    font-size: $standardFontSize;
    padding: $horizontalEdgePadding;
    pre {
        white-space: pre-wrap;
    }

    .error {
        .errorMessage {
            margin: 10px;
            color: $errorColor;
            font-size: $outputFontSize;
            font-family: $outputFont;
        }
    }

    .success {
        .result {
            font-size: $outputFontSize;
            font-family: $outputFont;
        }
    }
}