@import '../../../style/vars';

.executionView {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: start;
    font-size: $standardFontSize;


    .error {
        .errorMessage {
            margin: 10px;
            color: $errorColor;
            font-size: $standardFontSize;
            font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
                monospace;
        }
    }

    .success {
        .result {
            font-size: $standardFontSize;
        }
    }
}