@import '../../../../style/vars';

.inputForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    .inputField {
        padding-left: 10px;
        padding-right: $horizontalEdgePadding;
        display: flex;
        font-size: $standardFontSize;
        display: $standardFontSize;
        justify-content: space-between;

        input {
            color: $primaryFontColor;
            color-scheme: dark;
            font-size: $standardFontSize;
            font-family: 'Roboto Flex', 'sans-serif';
            border: none;
            outline: none;
            background: none;
        }
    }

    .selectedInputField {
        @extend .inputField;
        background-color: $highlightColor;
    }

    .validationError {
        margin-top: 10px;
        background-color: $errorColor;
        color: $primaryFontColor;
        padding: 5px;
        border-radius: 5px;
    }
}