.inputView {
    .inputHeader{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 32px;
        margin-bottom: 5px;

        .backArrowWrapper {
            display: flex;
            align-items: center;
            .backArrow {
                
                height: 20px;
            }
            .buttonLabel {
                font-size: 16px;
            }
        }
    }
}