@import '../../style/vars';

$borderRadius: 10px;

.commandLauncher {
    border-radius: 10px;
    width:100%;
    overflow: hidden;
    display: flex;
    height: 100%;
    justify-content: start;
    color: $primaryFontColor;
    background-color: $backgroundColor;

    .commandView {
        & > *{
            padding-top: $borderRadius;
            input {
                padding-left: $borderRadius;
            }
            li {
                padding-left: $borderRadius;
            }
        }

        width: 50%;
        border-right: solid $borderColor 2px;
    }

    .actionView {
        width: 50%;
        height: 100%;
    }
}