@import '../../style/vars';

.commandLauncher {
    border: 1px solid red;
    border-radius: 10px;
    min-width: 500px;
    display: flex;
    height: 100%;
    justify-content: start;
    color: $primaryFontColor;
    // border: 1px solid red;
    
    .commandView {
        width: 50%;
    }

    .actionView {
        width: 50%;
    }
}